.headerContainer{ 
        display: flex;  
        align-items: center;
        justify-content: center;
  
}
.holaManola{
        display: flex;  
        align-items: center;
        justify-content: center;

}
.NavLink {

        color: aliceblue;


}

.header-navlink {
        font-size: 18px;
        font-weight: 700;
        color:white;
}