
.nav-link{
        text-decoration: none;
    }

.cat-link{
        text-decoration: solid;
        width: 80px;
    }

    /* .widjet {
        font-size: 25px;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-out;
        text-decoration: none;
        
    }
    .widjet-visible {
       
        visibility: visible;
        opacity: 1;
        transition: all .3s ease-in-out;
        text-decoration: none;
        width: 10px;
        
        
    } */